<f:layout name="Default" />

<f:section name="Title">LostFound Advert</f:section>

<f:section name="Content">
<div class="container">
	<div class="row mob-marginLR1">
	<f:security.ifHasRole role="User">
		<f:then>
			<f:form method="post" id="form_lost_filter" action="create" controller="Post" name="newPost" enctype="multipart/form-data">
				<f:form.hidden property="lost" value="{lost}"/>
				<f:form.hidden property="found" value="{found}" />
			<div class="col s12 m5 leftCol"> 
            	<div class="newAddTitle">
					<h4>Нове оголошення</h4>
				</div>   
            	<div class="fotorama" data-nav="thumbs">          	    	
                </div>
                <div class="file-field input-field">
                	<f:if condition="{found}">
                		<f:then>
		               	<div class="btn upfound">
		               		<input type="file" name="file[]" multiple  id="i_file" />
		               	</div>
		               	</f:then>
		               	<f:else>
		               	<div class="btn uplost">
		               		<input type="file" name="file[]" multiple  id="i_file" />
		               	</div>
		               	</f:else>
	               	</f:if>
               	</div>
               	<div class="file-path-wrapper" style="display: none;">
					<p>Вибрані Вами фотографії будуть додані до оголошення</p>
					<div id="disp_tmp_path"></div>
				</div>
            </div>
			<div class="col s12 m5 offset-m2 mobBG rightCol">
	            	<div class="profileGrid">
	            		<div class="userPro">
	            			<div class="itemImg userAvatar">
			            	<f:if condition="{avatar}!=NULL">
								<f:then>
									<img src="{avatar}" id="userAvatarka" alt="Аватар" />
								</f:then>
								<f:else>
									<img src="{f:uri.resource(path: 'Images/noavatar.png')}" alt="Аватар" />
								</f:else>
							</f:if>
								<a class="modal-trigger" href="#change_avatar" id="changeAvatar" style="cursor: pointer">Змінити аватар</a> 
							</div>
		                    <div class="itemInfo">
		                    	<f:form.textfield name="username" id="new-username" class="validate ppname newAds" placeholder="Ім'я" value="{firstName}" additionalAttributes="{required: 'required', disabled:'disabled'}"/>
								<f:form.textfield name="surname" id="new-surname" class="validate ppname newAds" placeholder="Прізвище" value="{lastName}" additionalAttributes="{required: 'required', disabled:'disabled'}"/>
								<f:form.textfield name="contacts" property="userContacts" id="new-contacts" class="validate ppname phone newAds" placeholder="Контакти +38(0xx)xxxxxxx" additionalAttributes="{autocomplete:'off'}"/>
		                    </div>
		                </div>
	
		                <div class="row">
		                    <div class="input-field col s12">
		                    	<f:form.textfield name="title" property="title" id="new-title" class="validate nartn newAds" placeholder="" additionalAttributes="{autocomplete:'off',required: 'required'}"/>
		      					<label class="active" for="title">Назва *</label>
		                    </div>
		                    <div class="input-field col s12">
		                    	 <f:form.textfield name="city" property="city" id="new-city" class="validate nartn newAds cities" placeholder="" additionalAttributes="{required: 'required',autocomplete:'off'}"/>
		      					<label class="active" for="city">Місто *</label>
		      					<div id="suggesstion-box" class="newBox"></div>
		                    </div>
		                    <div id="category_lost_select" class="input-field col s12">
		                    	<f:form.select id="categories" property="category" class="" options="{categories}" optionLabelField="name" additionalAttributes="{required:'required', style:'font-size: 22px;'}" prependOptionLabel="Виберіть категорію" />
		                    	<label class="active" for="categories">Категорія *</label>
		                    </div>
		                    <div class="input-field col s12">
		                    	 <f:form.textfield name="description" property="description" id="new-description" class="validate nartn newAds" placeholder="" additionalAttributes="{autocomplete:'off'}"/>
		      					<label class="active" for="txtDescription">Опис</label>
		                    </div>
		                    <div class="input-field col s12">
		                    	 <f:form.textfield name="place" property="place" id="new-place" class="validate nartn newAds" placeholder="" additionalAttributes="{autocomplete:'off'}"/>
		      					<label class="active" for="txtPlace">Місце</label>
		                    </div>
		                    <div class="input-field col s12">
		                    	<f:form.button type="submit"  class="waves-effect waves-light btn-large amber lighten-1"> Додати нове оголошення </f:form.button>
								<label class="addCaps" for="found_input">* -обов'язкове поле</label>
		                    </div>
	                  </div>
	            	</div>
            	
            </div>
            </f:form>
		</f:then>
		<f:else>
		<p style="color: red; margin-bottom: 20px;">
		Ви повинні увійти щоб добавити оголошення. Або зареєструватись якщо у Вас ще немає акаунту!
		</p>
		</f:else>
	</f:security.ifHasRole>
	</div>
</div>

<div id="change_avatar" class="modal modal-md">
	<span class="modal-close"><div class="closeIcon"></div></span>
	<div class="tpBox">
		<h5>Змінити аватар</h5>
		<f:form method="post" action="changeAvatar" id="MyUploadForm" controller="Post" name="newAvatar" enctype="multipart/form-data">
			<div class="file-field input-field">
				<div class="btn">
					<span>Файл</span>
					<input type="file" name="image_file" id="imageInput">
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text">
				</div>
			</div>
			<f:form.button type="submit"  id="submit-btn" class="waves-effect waves-light btn-large amber lighten-1">
				Завантажити
			</f:form.button>
		</f:form>
		<div id="output"></div>
	</div>
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		$('.time').timeEntry({show24Hours: true,spinnerImage: ''});

		$("#changeAvatar").leanModal({top:100, closeButton: ".modal_close" });
		$('.datepicker').pickadate({
			selectMonths: true,
			close: 'Ок',
			today: '',
			clear: 'Скасувати'
			// Creates a dropdown to control month
		});

		$('select').material_select();
		$('#support_button').hide();
		//$('.time').mask('23:59');

		$('.phone').mask('+38(000)0000000');

					var options = {
						target:   '#output',   // target element(s) to be updated with server response
						beforeSubmit:  beforeSubmit,// pre-submit callback
						success: getAvatar,
						resetForm: true        // reset the form after successful submit
					};

					$('#MyUploadForm').submit(function() {
						$(this).ajaxSubmit(options);  //Ajax Submit form
						// return false to prevent standard browser submit and page navigation
						//$('.modal_close').click();
						//location.reload(true);
						//location.reload(true);

						return false;

					});

		$(".cities").keyup(function(){
			$.ajax({
				type: "POST",
				url: "/post/getCity",
				data:'city='+$(this).val(),
				beforeSend: function(){

				},
				success: function(data){
					var results = jQuery.parseJSON(data);
					var options = '';

					for (var i = 0; i < results.length; i++) {
						options += '<li onClick="selectCountry(\''+results[i].name+', '+results[i].region+'\')" style="color: #26a69a;cursor: pointer;">' + results[i].name + ', '+results[i].region +  '</li>';
					}

					if(options.length>1) {
						$("#suggesstion-box").show();
						$("#suggesstion-box").html(options);
					}
				}
			});
		});

	});
	function selectCountry(val) {
		$(".cities").val(val);
		$("#suggesstion-box").hide();
	}
	//function to check file size before uploading.
	function beforeSubmit(){
		//check whether browser fully supports all File API
		if (window.File && window.FileReader && window.FileList && window.Blob)
		{

			if( !$('#imageInput').val()) //check empty input filed
			{
				$("#output").html("Are you kidding me?");
				return false
			}

			var fsize = $('#imageInput')[0].files[0].size; //get file size
			var ftype = $('#imageInput')[0].files[0].type; // get file type


			//allow only valid image file types
			switch(ftype)
			{
				case 'image/png': case 'image/gif': case 'image/jpeg': case 'image/pjpeg':
				break;
				default:
					$("#output").html("<b>"+ftype+"</b> Unsupported file type!");
					return false
			}

			//Allowed file size is less than 1 MB (1048576)
			if(fsize>1048576)
			{
				$("#output").html("<b>"+fsize +"</b> Too big Image file! <br />Please reduce the size of your photo using an image editor.");
				return false
			}

			//hide submit button
			$("#output").html("");
		}
		else
		{
			//Output error to older browsers that do not support HTML5 File API
			$("#output").html("Please upgrade your browser, because your current browser lacks some new features we need!");
			return false;
		}
	}
	function getAvatar(){
		$.getJSON( "/incvisio.lostfound/post/getAvatar", function( data ) {
			$(".userAvatar").empty();
			$(".userAvatar").fadeIn("fast").append('<img src="'+data.avatar+'" id="userAvatarka" alt="Аватар" />')
		});
	}
	$('#i_file').change( function(event) {
		$('.file-path-wrapper').show();
		console.log();
		for (var i= 0; i<event.target.files.length; i++){
			var tmppath = URL.createObjectURL(event.target.files[i]);
			$( "#disp_tmp_path").fadeIn("fast").append( "<img src="+tmppath+" width='200' id='ImagePrevie' style='display: inline-block;margin-right: 10px;' />" );
		}
	});
</script>
</f:section>