<f:layout name="Main" />

<f:section name="Title">Про проект</f:section>

<f:section name="Content">
	<div class="row rulroww">
		<span style="color: #A9D3DF;">Правила користування</span><br><br>
		<span style="color: #2C8FAC;font-size: 16px;margin-bottom: 20px;">
		Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
			Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
			взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно
			пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.
			Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset,
			які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт
			Aldus Pagemaker, які використовували різні версії Lorem Ipsum.<br><br>
		Lorem Ipsum - це текст-"риба", що використовується в друкарстві
			та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
			коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
			"Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні,
			залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню
			зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам
			комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.<br>
		</span><br>
	</div>
</f:section>