<f:layout name="Default" />

<f:section name="Title">Правила</f:section>

<f:section name="Content">
	<div class="container">
		<div class="row mob-marginLR1">
        	<div class="col s12 m5 leftCol">
				<h4>Контакти</h4>
           		Cконтактувати з нами можна через електронну пошту:<br>
           		<a href="mailto:lostfoundua@gmail.com" title="lostfoundua@gmail.com">lostfoundua@gmail.com</a><br><br>
           		А також, написавши приватне повідомлення в одній з груп у соціальних мережах:<br>
           		<br>
           		<div class="s12 socialList">
	           		<ul>
		                <li><a href="https://www.facebook.com/LostFoundUA" target="_blank"><i class="fa fa-facebook"></i></a></li>
		                <li><a href="https://vk.com/lostfoundua" target="_blank"><i class="fa fa-vk"></i></a></li>
		                <li><a href="https://twitter.com/LostFoundUA" target="_blank"><i class="fa fa-twitter"></i></a></li>
		                <li><a href="https://plus.google.com/104364450726929635195" target="_blank"><i class="fa fa-google-plus"></i></a></li>
		            </ul>
	            </div>     
            </div>

        	<div class="col s12 m5 offset-m2 mobBG rightCol">  
              	<img src="{f:uri.resource(path: 'Images/contactpic.jpg')}" class="responsive-img" alt="Контакти">
            </div>
      	</div>
  	</div>
</f:section>