<f:layout name="Default" />

<f:section name="Title">Правила</f:section>

<f:section name="Content">
	<div class="container">
		<div class="row mob-marginLR1">
        	<div class="col s12 m5 leftCol">  
                <h6>Контакти</h6>
				<h4>Дозволено</h4>
           		<p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар 
                взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, 
                залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, 
                і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.</p>          
            </div>

        	<div class="col s12 m5 offset-m2 mobBG rightCol">
            	<h6>&nbsp;</h6>
            	<h4>Заборонено</h4>          
              	<p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли 
                невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася 
                в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів 
                Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які 
                використовували різні версії Lorem Ipsum.</p>   
            </div>
      	</div>
  	</div>
</f:section>