<f:layout name="Default" />

<f:section name="Title">Правила</f:section>

<f:section name="Content">
	<div class="container">
		<div class="row mob-marginLR1">
        	<div class="col s12 m5 leftCol">
        		<h6>Правила</h6>
			  	<h4>Дозволено</h4>
			  	<ul>
			  		<li>+1 Переглядати усі знайдені та усі загублені речі</li>
			  		<li>+2 Коментувати, лайкати, поширювати у соцмережах</li>
			  		<li>+3 Публікувати оголошення про знайдену чи загублену річ</li>
			  		<li>+4 Повертати загублене!</li>
			  		<li>+5 Підтримувати Проект ;)</li>
			  	</ul>
            </div>

        	<div class="col s12 m5 offset-m2 mobBG rightCol">
        		<h6>&nbsp;</h6>
            	<h4>Заборонено</h4>
            	<ul>
            		<li>-1 Розміщувати неправдиву інформацію</li>
            		<li>-2 Вживати нецензурну лексику</li>
            	</ul> 
            </div>
      	</div>
  	</div>
</f:section>