<f:layout name="Main" />

<f:section name="Title">Правила</f:section>

<f:section name="Content">
	<div class="row" style="">
		<div class="col s6">
			<span style="color: #A9D3DF;">Правила користування</span><br>
			<span style="color: #FDA400;font-size: 22px;">Дозволено</span><br><br>
		<span style="color: #2C8FAC;font-size: 16px;">
Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
		</span>
		</div>
		<div class="col s6"><br>
			<span style="color: #FFFFFF;font-size: 22px;">Заборонено</span><br><br>
		<span style="color: #FFFFFF;font-size: 16px;">
			Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
		</span>
		</div>
	</div>
</f:section>