<f:if condition="{post.comments}">
	<div class="commt">Коментувати</div>
	<f:for each="{post.comments}" as="comment">
	<div class="commentBox">
		<a name="#{comment->f:format.identifier()}"></a>
	   		<div class="itemImg">
	        <f:if condition="{comment.user.socialPhoto}!=''">
			<f:then>
				<img src="{comment.user.socialPhoto}" style="width: 100%;">
			</f:then>
			<f:else>
				<img src="{f:uri.resource(path: 'Images/anonim.png')}" style="width: 100%;">
			</f:else>
			</f:if>
	       </div>
	       <div class="itemInfo">
	       	  <div class="comentsLikes">
			     	<f:link.action action="setCommentLike" arguments="{comment:comment}" section="{comment-> f:format.identifier()}" controller="Post"><i class="fa fa-thumbs-o-up"></i></f:link.action>
			         <span class="userLikeNumb">{comment.likes}</span>
					<f:link.action action="setCommentDisLike" arguments="{comment:comment}" section="{comment-> f:format.identifier()}" controller="Post"><i class="fa fa-thumbs-o-down"></i></f:link.action>
			         <span class="userLikeNumb">{comment.dislikes}</span>
			    </div>
	          <span class="title">{comment.user.name}</span>
	          <span class="time">{comment.publishDate->f:format.date(format:'Y-m-d H:i:s')}</span>
	          <span class="desc"><f:format.crop maxCharacters="{commentcrop}" append=" ...">{comment.message}</f:format.crop></span>
		   </div>
	</div>
	</f:for>
</f:if>