?<f:layout name="Default" />

<f:section name="Title">Відновлення паролю</f:section>

<f:section name="Content">
    <script type="text/javascript">
        var baseurl = '';
    </script>
    <div class="row rulroww">
        <span style="color: #A9D3DF;">Відновлення паролю</span><br><br>
		<span style="color: #2C8FAC;font-size: 16px;margin-bottom: 20px;">

            <f:flashMessages as="flashMessages">
                <f:for each="{flashMessages}" as="flashMessage">
                    <div>{flashMessage}</div>
                </f:for>
            </f:flashMessages>

         <f:if condition="{requestLink}">
             <a href="{requestLink}">Go to link</a>
         </f:if>
                <f:security.ifAuthenticated>
                    <f:then>
                        <f:form controller="Login" action="logout" class="form-horizontal" additionalAttributes="{role: 'form'}">
                            <f:form.button value="Logout" class="btn btn-primary">
                                Вийти
                            </f:form.button>
                        </f:form>
                    </f:then>
                    <f:else>
                        <f:form method="login" action="changePassword" controller="Login" additionalAttributes="{role: 'form'}">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="entypo-key"></i>
                                    </div>
                                    <f:form.password class="form-control" name="password" id="password" placeholder="пароль"  additionalAttributes="{autofocus: 'autofocus',autocomplete:'off',required:''}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="entypo-key"></i>
                                    </div>
                                    <f:form.password class="form-control" name="passwordconfirm" id="passwordconfirm" placeholder="підтвердити пароль" additionalAttributes="{autofocus: 'autofocus',autocomplete:'off',required:''}" />
                                </div>
                            </div>
                            <f:form.hidden property="code" name="code" value="{code}" />
                            <div class="form-group">
                                <f:form.button type="submit" class="btn btn-primary btn-block btn-login">
                                    Відправити
                                </f:form.button>
                            </div>
                        </f:form>
                    </f:else>
                </f:security.ifAuthenticated>
		</span><br>
    </div>

</f:section>